<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <!-- Link to Bootstrap CSS CDN -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Link to your own CSS file -->
    <link href="style.css" rel="stylesheet">
</head>
<body>
<h1 class="text-center p-4">Start Playing with Spring Boot < Maven ></h1>
</br>

<h1 class="font-monospace bg-black text-center">welcome to Phnom Penh University of the arts</h1>
<br>
<h2 th:text="${name}"></h2>




</body>
</html>