<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Form</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!-- Navigation Fragment -->
    <div th:insert="common::navig"></div>

    <h1 class="text-center font-monospace p-4 text-bg-primary">Welcome to PPUA Application</h1>
    <hr>

    <!-- Contact List -->
    <h2 class="my-5 text-center">Contact List</h2>
    <div class="container">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>No</th>
                    <th>Contact Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Description</th>
                    <th>Actions</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="st : ${contact}">
                    <td th:text="${st.id}"></td>
                    <td th:text="${st.name}"></td>
                    <td th:text="${st.email}"></td>
                    <td th:text="${st.phone}"></td>
                    <td></td>
                    <!-- <td th:text="${st.des}"></td> -->
                    <td>
                        <a th:href="@{/api/v1/contact/show/{id}(id=${st.id})}" class="btn btn-primary btn-sm">Update</a>
                    </td>                    
                    <td>
                        <a th:href="@{/api/v1/contact/delete/{id}(id=${st.id})}" class="btn btn-danger btn-sm">Delete</a>
                    </td>                    
                </tr>
            </tbody>
        </table>
        <div class="text-lelf m-12">
            <a th:href="@{/api/v1/contact/addcontact}" class="btn btn-success">Add Contact</a>
        </div>
    </div>

    <!-- Footer Fragment -->
    <div th:insert="common::myfooter"></div>
</body>
</html>
